<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<a> <img src="assets/Imgs/Imgs/logo.png" routerLink="" class="logo"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa-solid fa-bars" style="color: #ffffff;" *ngIf="navBaricon" (click)="menuclick()"></i> <span class="navbar-toggler-icon"></span> <span class="fa fa-close" id="form-close" *ngIf="!navBaricon" (click)="menuclick()"></span> </button>
	</div>
	<div class="collapse navbar-collapse " id="navbarNavDropdown" *ngIf="navBarContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item ml-auto" (click)="navebarefale()"> <a class="nav-link active" aria-current="page" (click)="goToHome()">Home</a> </li>
			<li class="nav-item" (click)="navebarefale()"> <a class="nav-link" (click)="goToAbout()">About</a> </li>
			<li class="nav-item" (click)="navebarefale()"> <a class="nav-link" (click)="goToPopular()">Popular</a> </li>
			<li class="nav-item" (click)="navebarefale()"> <a class="nav-link" (click)="goToFeatured()">Featured</a> </li>
		</ul>
	</div>
	<div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="!navBarContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item ml-auto" (click)="navebarefale()"> <a class="nav-link active" aria-current="page" routerLink="/src/app/home">Home</a> </li>
			<li class="nav-item" (click)="navebarefale()"> <a class="nav-link" (click)="goToAbout()">About</a> </li>
			<li class="nav-item" (click)="navebarefale()"> <a class="nav-link" (click)="goToPopular()">Popular</a> </li>
			<li class="nav-item" (click)="navebarefale()"> <a class="nav-link" (click)="goToFeatured()">Featured</a> </li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>