.w-100{
    height: 600px;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.d-none{
    display: block;
}
.carousel-indicators .active {
    opacity: 1;
    color: #4076d9 !important;
}
@media(max-width:992px){
    .w-100{
        height: 400px;
   }
    .card{
        background-color: #fff !important;
   }
    .content-1{
        padding-right: 25px;
   }
    h1{
        font-size:medium !important;
   }
    h2{
        font-size: small !important;
   }
    h3{
        font-size: smaller !important;
   }
    p{
        font-size: x-small !important;
   }
    button{
        font-size: small !important;
   }
}
