.d-block {
	width: 200px;
}

h1 {
	color: #fff;
	font-size: 2.25rem;
	font-weight: bold;
}

.head {
	text-align: center;
	color: #fff;
}

h2 {
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
}

.container .carousel .carousel-item {
	padding: 2px 100px 2px 100px;
}

.car-details {
	margin-top: 10px;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding-left: 36%;
	padding-right: 33%;
}

.colorP {
	color: #fff;
	font-size: larger;
	font-weight: bold;
	text-align: center;
}

.colorG {
	color: lightgray;
	margin-top: -10px;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-center {
	text-align: center;
	color: #fff;
}

.machine {
	padding: 5px 220px 5px 220px;
}

.machinep {
	color: #535558;
}

.machineH {
	text-align: start !important;
}

.card {
	box-shadow: none;
	border-radius: 25px;
	border-style: none;
	width: 200px;
	height: 100px;
	position: absolute;
	margin-top: -50px;
	padding: 5px;
	opacity: .2;
	margin-left: 281px;
}

.KnowBtn {
	background: #4177dc;
	color: #fff;
	border: none;
	padding: 10px;
	width: 170px;
	border-radius: 4px;
}

.Porsche {
	background: #0a0a0b;
}

.Porsche-title {
	text-align: center !important;
	color: #fff;
}

.Porsche {
	margin-top: 10rem;
}

.card-porsche {
	background-image: linear-gradient(to bottom right, #212a39, black);
	border-radius: 20px;
	padding: 10px;
	width: 262px;
	margin-left: 20px;
	padding-left: 30px;
}

.colorW {
	color: #fff;
}

.slide-img {
	margin-left: 32px;
	margin-top: 50px;
}

.carousel-item {
	padding: 5px 220px 5px 220px;
}

.carousel-indicators {
	margin-bottom: -2rem !important;
}

.carousel-inner {
	display: flex;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.all {
	background: #0a0a0b;
	color: lightgrey;
	border: 1px solid rgb(72, 72, 72);
	border-radius: 4px;
	padding: 10px;
	margin-left: 10px;
}

.all:hover {
	background: #4177dc;
	color: white;
	border-radius: 4px;
}

.car {
	margin-right: auto;
	width: 50%;
	position: absolute;
	margin-top: -46%;
	margin-left: 38%;
}

.back {
	backdrop-filter: blur(10px);
	border-radius: 4px;
	padding: 5px;
	text-align: center;
}

.logo3 {
	width: 20px;
}

.logo4 {
	width: 20px;
}

.logo2 {
	width: 20px;
}

.featured-car {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.card-porsche2 {
	background-image: linear-gradient(to bottom right, #212a39, black);
	border-radius: 20px;
	padding: 10px;
	width: 262px;
	margin-left: 20px;
	padding-left: 30px;
	margin-top: 30px;
}

.special-offer {
	background-image: url(../../assets/Imgs/Imgs/Car_bg.png);
	padding: 5px 220px 5px 220px;
	margin-bottom: 20px;
	padding-top: 20px;
}

.spl {
	text-align: start;
	margin-top: 20px;
}

.footer {
	padding: 5px 220px 5px 220px;
}

.footer-logo {
	width: 150px;
}

.footer-p {
	color: #c7c7c7;
}

li {
	list-style: none;
	margin-top: 15px;
}

.footer-right {
	text-align: center;
	justify-content: center;
}

.footer-head {
	text-align: start;
}

.footer-logo-img {
	padding: 5px 220px 5px 220px;
}

@media (max-width:992px) {
	.car-home {
		display: none;
	}

	.car-details {
		margin-top: 10px;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		padding-left: 16%;
		padding-right: 16%;
	}

	.mob-caro1 {
		display: flex;
	}

	.carousel-item {
		padding: 2px 50px 2px 50px;
	}

	.mob-caro {
		flex: 0 0 calc(100%/3);
		display: block;
	}

	.mob-caro2 {
		flex-wrap: nowrap;
	}

	.machine {
		padding: 5px 10px 5px 10px;
	}

	.steer {
		width: 350px;
	}

	.card {
		box-shadow: none;
		border-radius: 25px;
		border-style: none;
		width: 200px;
		height: 100px;
		position: absolute;
		margin-top: -50px;
		padding: 5px;
		opacity: .2;
		margin-left: 150px;
	}

	.machine {
		padding: 5px 10px 5px 10px;
	}

	.machineH {
		margin-top: 100px;
	}

	.car-back-img {
		width: 300px;
	}

	h1 {
		font-size: medium;
	}

	.special-offer {
		padding: 5px 10px 5px 10px;
		margin-top: 30px;
	}

	.footer-img {
		width: 30px;
		margin-top: 10px;
	}

	.splOffer {
		align-items: center;
		justify-content: center;
	}

	.spl {
		text-align: center;
	}

	.col-5 {
		width: 68%;
	}

	.footer {
		padding: 5px 50px 5px 50px;
	}

	.footer-logo-img {
		padding: 5px 100px 5px 100px;
	}

	.footer-col-size {
		flex: 100%;
	}

	li {
		font-size: 10px;
	}
}

@media (min-width:990px) {
	.front-car {
		display: none;
	}
}